
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
     font-size: 50px;
     line-height: 64px;
     color: #222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
  
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}
button.normal{
    font-size: 18px;
    font-weight: 700;
    width: 120px;
    height: 40px;
    background-color: #cce7d0;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 14px;
    font-weight: 700;
    padding: 11px 18px;
    width: 120px;
    height: 40px;
   background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

.logo{
 height: 60px;
 width: 60px;
 text-align: left;
}

/* Header start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
     position: sticky;
     top: 0;
     left: 0;
     z-index: 999;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover{
    color: #088;
}

/* pseudo class */
#navbar li a:hover,
#navbar li a.active{
    color: #088;
}

#navbar li a.active::after,
#navbar li a:hover::after{ 
  content: "";
  width: 30%;
  height: 2px;
  background: #088;
  position: absolute;
  bottom: -4px;
  left: 20px;

}

#mobile{
    display: none;
    align-items: center;
}

/* Home Page */

#hero{
    background-image: url("img/HomeBackground.jpg");
    height: 90vh;
    width: 100%;
    background-position: top 15% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
  color: #088;
}

#hero button{
    background-image: url("img/ShopNow.png");
    background-color: transparent;
    font-size: 20px;
    color: #088;
    border: 0;
    padding: 25px 80px 14px 65px;
    background-repeat: no-repeat;
    font-weight: 800;
}

/* features */
 
#feature{
    font-family: 'Bitter', serif;
    font-weight: 700;
    display: flex;  /*puts everything in one line */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 #feature .fe-box img{
    height: 85%;
    width: 100%;
    padding-bottom: 10px;
}

#feature .fe-box{
    width: 15%;
    min-width: 100px;
    height: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 94px rgba(70,62,221,0.3);
    /* background-color: #088; */
}

#feature .fe-box h6{
 
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088;
    background-color: #fddde4;
    font-size: 15px;
}

/* Products */
#product1{
    text-align: center;
}
.pro-container.col{
    text-align: center;
    margin: auto;
    padding: 0;
}
#product1 .pro{
    text-align: center;
    width: 80%;
    height: 350px;
    min-width: 220px;
    padding: 5px 6px;
    border: 0.5px solid #c9dacb;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
    margin: 15px 0;
    position: relative;
}

#product1 .pro img{
    width: 100%;
    height: 72%;
    border-radius: 20px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    transition: 0.2s ease;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
   color: darkslategray;
   font-family: 'Bitter', serif;
   font-weight: 700;
}

#product1 .pro .des h5{
    padding-top: 5px;
    color: #1a1a1a;
    font-size: 18px;;
}
#product1 .pro .des h4{
    padding-top: 5px;
    font-size: 20px;
    color: #088;
}

#product1 .pro .cart{
    position: absolute;
    bottom: 25px;
    right: 15px;
}
#product1 .pro .cart:hover{
    background-color:grey;
    height: 20px;
    width:  20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s ease;
}


#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/background/Background1.jpg); 
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-size:100% 100%;
  
}

#banner h4{
    color: #040004;
    font-size: 20px;
}
#banner h2{
    color: #040004;
    font-size: 40px;
}
#banner h2 span{
    color:brown;
}
#banner button:hover{
background-color:#088;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/background/bottom/w9.jpg");
    width: 46%;
    min-width: 390px;
    height: 50vh;
    background-size: cover;
    background-position:center;
    margin-top: 5px;
    padding: 25px;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#sm-banner h4{
    color: #0fcaae;
    font-size: 20px;
    font-weight: 400;
}
#sm-banner h2{
    font-size: 32px;
    color: deepskyblue;
    font-weight: 600;
}

#sm-banner span{
    color: rgb(17, 152, 100);
    font-weight: 700;
    
}
#sm-banner .banner-box:hover button.white{
    background-color: #088;
    transition: 0.2s;
}
#banner3 .banner-box:hover button.white{
    background-color: orange;
    transition: 0.2s;
}

#sm-banner .banner2{
    background-image: url("img/background/bottom/w10.jpg");
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/background/bottom/w11.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position:center;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 25px;
}
#banner3{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 h2{
    font-size: 30px;
    font-weight: 900;
}
#banner3 h3{
    font-size: 20px;
    font-weight: 900;
    color: #088;
}
#banner3 .banner32{
    background-image: url("img/background/bottom/w12.jpg");
}
#banner3 .banner33{
    background-image: url("img/background/bottom/w13.jpg");
}
#close{
    display: none;
}

/*Start Media Querry */

@media(max-width:950px){
    
    #navbar{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;

    }
    #navbar.active{
        right: 0px; 
        transition: 0.2s;  
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile i{
        color: #040004;
        font-size: 25px;
        padding-left: 20px;
    }
    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #040004;
        font-size: 25px;
        display: initial;
    }
    #hero{
        
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
        
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        width: 180px;
        height: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 15px;
    }

    .section-p1{
        padding: 40px 40px;
    }
    .row{
        padding-right: 0;
        padding-left: 25px;
        margin-left: 10px;
    }
    #sm-banner{
        justify-content: center;
        /* width: 100%; */

    }
    #banner3{
        /* justify-content: center; */
        padding: 0 40px;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 50vh;
    }
    #banner3 .banner-box{
        
        width: 20%;
        height: 40vh;
        
    }
}
@media(max-width:750px)
{
    #about-head img{
        width: 100% !important;
        
      }
   #about-head{
     flex-direction: column;
     }
     #about-head div{
        padding-left: 0 !important;
    }
}
@media all and (max-width:480px)
{
    #header{
        padding: 10px 30px;
    }
    .section-p1{
        padding: 20px;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
     width: 155px;
     margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100% !important;
    }
    .row {
        padding-right: 0;
        padding-left:  0;
        margin-left: 0;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    h2{
        font-size: 35px;
    }
    h1{
        font-size: 40px;
    }
    #banner3 .banner-box{
        
        width: 100%;
        height: 50vh;
        
    }  
    #banner3 {
        
        padding: 0 20px;
    }

   
     #about-head img{
        width: 100% !important;
        
      }
   #about-head{
     flex-direction: column;
     }
     #about-head div{
        padding-left: 0 !important;
    }
     
     /*#prodetails{
        flex-direction: column;
        align-items: center;
       
    }
    #prodetails #single-pro-image{
        width: 100%;
     
       
    }
    #prodetails .single-pro-details{
        width: 100%;
        
    } */
   
    #contact-details{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #contact-details .details{
        width: 100% !important;
    }
    #contact-details .map{
        width: 100% !important;
        height: 400px;
    }
    #contact-details .map iframe{
        width: 100%;
        height: 100%;
    }
    
    .product-header .product-title{
        width: 30% !important;
    }
    .product-header .price{
        width: 20% !important;
    }
    .product-header .quantity{
        width: 30% !important;
    }
    .product-header .total{
        width: 20% !important;
    }
    .product-header{
        
        margin: 10px 10px !important;
    }
   
}

/* Shop Page */

#page-header{
    background-image: url("img/shop1.jpg");
    height: 60vh;
    width: 100%;
    background-position: top 15% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#page-header h2{
    color: #088;

}
#page-header h1{
    color:cornflowerblue;
    
}
#page-header p{
    color:royalblue;
    
}

#pagination{
    text-align: center;
    margin-bottom: 10px;
}

#pagination a{
    text-decoration: none;
    background-color: #088;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails #single-pro-image{
    width: 40%;
    margin-right: 50px;
}
#MainImg{
    height: 70vh;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    padding-top: 5px;
    flex-basis: 30%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 30px 0 20px 0;
    font-weight: 700;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details h6{
    font-size: 18px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 45px;
    padding-left: 12px;
    font-size: 15px;
    margin-right: 12px;
}
#prodetails .single-pro-details button{
    background:#088;
    color: white;
}
#prodetails .single-pro-details span{
    line-height: 20px;
}

/* About Us */

#page-header.aboutUs{
    background-image: url('img/about/aboutUs.jpg');
    height: 50vh;
}

#about-head img{
  width: 50%;
  height: auto;
}

#about-head{
    display: flex;
    align-items: center;

}
#about-head div{
    padding-left: 50px;
}
#about-app{
    text-align: center;
}

#about-app .video{
  width: 70%;
  height: 100%;
  padding-top: 80px;
  margin: auto;

}
#about-app h2{
    padding: 0 20px;
}

/* Contact Us */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#contact-details .details{
    width: 40%;
}
#contact-details h2{
    font-size: 25px;
    line-height: 30px;
    padding: 20px 0;
}
#contact-details h5{
  font-weight: 400;
}

#page-header.contactUs{
    background-image: url('img/contact/p1.jpg');
    height: 50vh;
}

#form-details form{
 width: 65%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

#form-details h3{
    padding: 10px 0;;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 10px 15px;
    outline: none;
     margin-bottom: 10px;
    border: 1px solid #cce7d0;
}

#form-details form button{
    background-color: #0fcaae;
}

#form-details{
    display: flex;
    align-items: flex-start;
    padding: 6%;
}


/* .cart-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
} */

.product-header .product-title{
    width: 40%;
}
.product-header .price{
    width: 20%;
}
.product-header .quantity{
    width: 20%;
}
.product-header .total{
    width: 20%;
}

.product-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
}
.products-container{
    padding: 2% 5%;
}

/* .products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
} */
/* .product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
} */

.product{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 70px;
}
.product-price{
    width: 20%;
  
}
.product-quantity{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    width: 20%;
}
.product-total{
    width: 20%;
    
}
.overall{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px 0px;
}

.cartTotalContainer{
    display: flex;
    justify-content: flex-end;
    padding: 3% 15%;
    width: 100%;
}

.cartTotalTitle{
    width: 20%;
}
.cartTotal{
    width: 10%;
}

.Remove{
  border-radius: 5px;
  
}
.Remove:hover{
    background-color: rgb(200, 43, 22);
    transition: 0.3s ease;
}